@tailwind base;
@tailwind components;
@tailwind utilities;

/* Genel renk ayarları */
:root {
  --background: #f9fafb;
  --foreground: #111827;

  /* Inter font değişkeni */
  --font-inter: "Inter", sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
  font-family: var(--font-inter);
}

/* Başlık düzeni */
h1, h2, h3, h4 {
  @apply font-semibold tracking-tight;
}
